@import-normalize;
@import './font.css';  
@import './reciple-list.css';
@import './button.css';
@import './recipe.css';
@import './ingredient-list.css';


*, *::before, *::after {
    font-family: Gotham Rounded,'Courier New',sans-serif;

  }
  html{
    font-size: 25px;
  }
  body{
    padding:0;
    margin: 0;
  }
  .mr-1{
    margin-right: 5px;
  }
